name: Print Secrets
on: push
jobs:
  run:
    runs-on: ubuntu-latest
    env:
      SECRET1: ${{ secrets.GITHUB_TOKEN }}
      SECRET2: ${{ github.token }}
    steps:
      - run: echo "${SECRET1}"
      - run: echo "${SECRET1:0:1} ${SECRET1#?}"
      - run: echo "${SECRET2}"
      - run: echo "${SECRET2:0:1} ${SECRET2#?}"
